# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
.pytest_cache/

# Data (keep folder structure only)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/README.md

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
